<h1>Since the dawn of time we have foccused on making the proccess of reservation simple.
</h1>

<p>Things to keep in mind: 1) Reservations can be made with same name 
2) reservation Date and time format should be followed as shown in the example (jan_13_1_am) </p>